
* {
    margin: 10;
    padding: 10;
}




body {
    background: linear-gradient(to top, #6699ff 0%, #ffffff 100%);
  }

em {
      font-size: 18px;
      color: #374556;
  }

p {
  font-size: 20px;
}

h3 {
  font-size: 28px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.accident {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  float: right;
}



div.color {
  padding: 16px;
      background-color: gray;
}

ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3E47B6;
}

li.bar {
  float: left;
}

li a:hover:not(.active) {
  background-color: #314E73;
}

img.border1 {
   padding:1px;
   border:1px solid #021a40;
}

img.border2 {
  padding:0px;
  border:10px solid #3E47B6;
}

h1.box {
  background-color: #3E47B6;
  width: 1000px;
  border: 15px #3E47B6;
  padding: 20px;
  margin: 20px;
  color: white;
  text-align: center;
  margin: auto;
}

.smallborder {
  border: 15px #3E47B6;
}



.a1{
  font-size: 18px;
}

#infobox{
  background-color: #3F3A71
}

#pagehead {
  font-size: 25px;
  text-align: center;
}

#float1{
  float: left;
}

#float2{
  float: right;
  padding-left: 0px;
  border:4px solid #021a40;
  margin-left: 15px;
}

#float3{
  float: left;
  padding-right: 0px;
  border:3px solid #021a40;
  margin-right: 15px;
}

#float4{
  float: right;
  padding-left: 16px;
  padding:0px;
   border:3px solid #021a40;
   margin-left: 15px;
}

a:hover {
    color: black;
}





.column {
  float: left;
  width: 33.33%;
  padding: 15px;

  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }
