
* {
    margin: 10;
    padding: 10;
}




body {
    background-color: white;
  }

em {
      font-size: 18px;
  }

p {
  font-size: 20px;
}

h3 {
  font-size: 28px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}





div.color {
  padding: 16px;
      background-color: gray;
}

ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3E47B6;
}

li.bar {
  float: left;
}

li a:hover:not(.active) {
  background-color: #314E73;
}

img.border {
   padding:1px;
   border:1px solid #021a40;
}

#a1{
  font-size: 18px;
}



#pagehead {
  font-size: 25px;
  text-align: center;
}

#float1{
  float: left;
}

#float2{
  float: right;
  padding-left: 16px;
}

#float3{
  float: left;
  padding-right: 25px;
}

#float4{
  float: right;
  padding-left: 16px;
  padding:1px;
   border:1px solid #021a40;
}

a:hover {
    color: black;
}
